/* App.css */
.App {
  text-align: center;
}

h1 {
  color: #333;
}

canvas {
  border: 10px solid #fff;
  margin-top: 20px;
  box-shadow: 5px 6px 20px 1px grey;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
